<!DOCTYPE html>
<html lang="{{ site.data.locales[site.active_lang] | default: "en-US" }}">

  {%- include head.html -%}

  <body>

    {%- assign s = site.data[site.active_lang].strings | default: site.data.en.strings -%}
    <a class="skip-link" href="#main">{{ s.skip_link | escape }}</a>

    {%- include header.html -%}

    <main class="page-content" id="main" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
