---
layout: default
---
{%- assign s = site.data[site.active_lang].strings | default: site.data.en.strings -%}
<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    {%- assign category = page.categories | first -%}
    <span class="kicker">{%- if category -%}{{ category | capitalize }}{%- else -%}{{ s.post_kicker_fallback }}{%- endif -%}</span>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include i18n_date.html date=page.date %}
      </time>
      {%- if page.author -%}
        · <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="btn btn-ghost back-link" href="{{ "/" | relative_url }}">{{ s.back_to_posts }}</a>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
